@import '~antd/lib/style/themes/default.less';

.tableList {
    .tableListOperator {
      margin-bottom: 16px;
      button {
        margin-right: 8px;
      }
    }
}

.cardStyle{
    height: 500px;
}

.tableListShow{
    margin-bottom: 30px;
}

.colLine{
    overflow-x: auto;
}
.tableCol{
    border-left: 2px solid #cbc9c9;
    overflow-x: auto;
}

.siderSty{
    background: #fff;
    border-right: 1px solid lightgray;
    overflow-x: auto;
}